<style>
  .handouts-left-item {
    float:left; margin-left:20px; margin-bottom:15px;
  }
  .handouts-right-item {
    float:right; margin-right:20px; margin-bottom:15px;
  }
</style>
<div class="assignment">
  <text class="assignment_name handouts-left-item">
    <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/c78976d210314651abb740912d8279bb/5bf447e1a55f4699a6e313680f16e9df/">
      Self Diagnostic
    </a>
  </text>
  <text class="due_date handouts-right-item">
    (ungraded)
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
    <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/c78976d210314651abb740912d8279bb/e8c2d3dd71a84472997173f55c98a35c/">
      Project 0
    </a>
  </text>
  <text class="due_date handouts-right-item">
    9/6, 5pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
      <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/eafff8d8427440069a749c1b825c0561/d35abd173ee745dda5417aaa89b97b02/">Homework 1</a>
  </text>
  <text class="due_date handouts-right-item">
    9/11, 11:59pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
      <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/eafff8d8427440069a749c1b825c0561/6171e5fdfd8645c98cdcdf53dfea1880/">Project 1</a>
  </text>
  <text class="due_date handouts-right-item">
    9/13, 5pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
    <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/5fab202f219447c79915d6ba6eb08344/0460a6606a3e4630b0b4e913dd88c135/">
      Homework 2
    </a>
  </text>
  <text class="due_date handouts-right-item">
    9/18, 11:59pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
    <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/e388ea8629ff4228845b54d70ffc8afd/0356d34a926e4c7199d1d66fd01d89da/">
      Homework 3
    </a>
  </text>
  <text class="due_date handouts-right-item">
    9/25, 11:59pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
      <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/e388ea8629ff4228845b54d70ffc8afd/52a12229526341c4b605cdd2b5ae295d/">Project 2</a>
  </text>
  <text class="due_date handouts-right-item">
    9/27, 5pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
    <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/49f4667aceef4ee982cce2250e17d605/25829128a13347cfb8d724e8c348484a/">
      Homework 4
    </a>
  </text>
  <text class="due_date handouts-right-item">
    10/2, 11:59pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
      <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/817468c509ef4b64bcb74cd38766ac44/8f12a00e153c437f8e36b0c649af8be3/">Homework 5</a>
  </text>
  <text class="due_date handouts-right-item">
    10/9, 11:59pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
      <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/817468c509ef4b64bcb74cd38766ac44/41c847d3794141a7acb4f6b1e5904215/">Project 3</a>
  </text>
  <text class="due_date handouts-right-item">
    10/11, 5pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
      <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/817468c509ef4b64bcb74cd38766ac44/0c0b689a9bab4194b5952ba54e0f7713/">Practice Midterm</a>
  </text>
  <text class="due_date handouts-right-item">
    10/12, 11:59pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment" style="color:red">
  <text class="assignment_name handouts-left-item">
    <a href="https://s3-us-west-2.amazonaws.com/cs188websitecontent/exams/fa13_midterm1.pdf" style="color:red">Midterm 1</a>
  </text>
  <text class="due_date handouts-right-item">
    10/14, 6-9pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
    <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/741f4647a714422a8028a776e041071c/7d360eb87c6f4746886c2551d5695bba/">
      Homework 6
    </a>
  </text>
  <text class="due_date handouts-right-item">
    10/23, 11:59pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
    <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/141d66503de5484fb7d26895b67149c1/3f97c7a0e0f240a7af1081e9f7f459fe/">
      Homework 7
    </a>
  </text>
  <text class="due_date handouts-right-item">
    10/30, 11:59pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
    <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/a1335497b2a04c0e934ec324563e69aa/ca7ba18fa96845b3aa74bd0623bd939f/">
      Homework 8
	</a>
  </text>
  <text class="due_date handouts-right-item">
    11/6, 11:59pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
    <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/a1335497b2a04c0e934ec324563e69aa/1d6e5b5229b94619900b0196eae8e024/">
      Project 4
  	</a>
  </text>
  <text class="due_date handouts-right-item">
    11/15, 5pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
      <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/95cdab0f65984c74a2031911fbacc7e8/ff81f1aa88f2402586cd3b3a43f3d315/">Homework 9</a>
  </text>
  <text class="due_date handouts-right-item">
    11/20, 11:59pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
      <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/95cdab0f65984c74a2031911fbacc7e8/2eb131fddbe941c59babd8d31f79cba8/">Practice Midterm 2</a>
  </text>
  <text class="due_date handouts-right-item">
    11/23, 11:59pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment" style="color:red">
  <text class="assignment_name handouts-left-item">
    <a href="https://s3-us-west-2.amazonaws.com/cs188websitecontent/exams/fa13_midterm2.pdf" style="color:red">Midterm 2</a>
  </text>
  <text class="due_date handouts-right-item">
    11/25, 6-9pm
  </text>
</div>


<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
      <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/7ae96c0c393540379709934ce2fb8d45/e90b2af8691a4149ae2a59e6e5290041/">Final Contest</a>
  </text>
  <text class="due_date handouts-right-item">
    12/3, 11:59pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
      <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/51edbfdd877a4d0e8d6109c3b9770849/8de0bc49c4b6453bb3ae0648719b84f2/">Project 5</a>
  </text>
  <text class="due_date handouts-right-item">
    12/13, 5pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment">
  <text class="assignment_name handouts-left-item">
      <a href="https://courses.edx.org/courses/BerkeleyX/CS188x_1/1T2013/courseware/51edbfdd877a4d0e8d6109c3b9770849/3f505484a2784d4f8d1123f3fe2ad9c5/">Practice Final</a>
  </text>
  <text class="due_date handouts-right-item">
    12/14, 11:59pm
  </text>
</div>

<div style="clear:both;"></div>

<div class="assignment" style="color:red">
  <text class="assignment_name handouts-left-item">
    <a href="https://s3-us-west-2.amazonaws.com/cs188websitecontent/exams/fa13_final.pdf" style="color:red">Final Exam</a>
  </text>
  <text class="due_date handouts-right-item">
    12/20, 8-11am
  </text>
</div>
